* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
}
:root {
  --main-bg-color: #1f2833;
  --title-font-color: #66fcf1;
  --border-color: #c5c6c7;
}

body {
  background: linear-gradient(var(--main-bg-color), black);
  font-family: "Roboto", sans-serif;
  color: white;
}

#title {
  font-family: "PT Sans", sans-serif;
  font-size: 150px;
  color: var(--title-font-color);
  font-weight: bold;
  margin: 20px 0;
}

@media screen and (max-width: 700px) {
  #title {
    font-size: 17vw;
  }
}

#subtitle {
  font-size: 3rem;
  margin-bottom: 10px;
}

#menu-content {
  display: flex;
}

#game-content {
  display: none;
}

#game-board {
  width: 600px;
  height: 600px;
  max-width: 95vw;
  max-height: 95vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 20px;
}

.tile-container {
  display: block;
  overflow: hidden;
}
.tile {
  background-color: var(--border-color);
  width: 100%;
  height: 100%;
  line-height: 100%;
  display: block;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 200px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .tile {
    font-size: 25vw;
  }
}
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.menu-button {
  min-width: 100px;
  border: 3px solid var(--border-color);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 20px;
  text-align: center;
  background-color: inherit;
  color: white;
}

.menu-button:hover {
  background-color: var(--title-font-color);
  color: black;
  border-color: black;
}

#result-message {
  position: absolute;
  display: none;
  background-color: black;
  font-size: 100px;
  color: white;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
  white-space: nowrap;
  padding: 5px 10px;
}

@media screen and (max-width: 700px) {
  #result-message {
    font-size: 13vw;
  }
}

#name-screen {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  max-width: 95vw;
  max-height: 95vw;
  text-align: center;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

#name-screen * {
  display: block;
}

#name-screen input {
  margin-bottom: 20px;
}
